{% extends 'adminbase.html.twig' %}
{% block title %} Ürün Listesi {% endblock %}
{% block content %}
    <!--inner block start here-->
    <div class="inner-block">
        <div class="blank">
            <h2>Ürün Listesi</h2>
            <h6>
                <small><a href="{{ path('admin_product_new') }}" class="btn btn-1 btn-info">Ürün Ekleme</a></small>
            </h6>
            <div class="blankpage-main">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Amount</th>
                            <th>Pprice</th>
                            <th>Sprice</th>
                            <th>Min</th>
                            <th>Image</th>
                            <th>Galeri</th>
                            <th>Category_id</th>
                            <th>Status</th>
                            <th>Göster</th>
                            <th>Düzenle</th>
                            <th>Sil</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{ product.id }}</td>
                                <td>{{ product.title }}</td>
                                <td>{{ product.amount }}</td>
                                <td>{{ product.pprice }}</td>
                                <td>{{ product.sprice }}</td>
                                <td>{{ product.min }}</td>

                                <td>
                                    <a href="javascript:openWin('{{ path('admin_product_iedit', {'id': product.id}) }}','','toolbar=no,location=no,directories=0,status=no,top=100,left=200,menuBar=no,scrollBars=no,resizable=no,width=600,height=500');">
                                    {% if product.image ==null %}
                                       <img src=" {{ asset('admin') }}/images/image.png" height="48">
                                    {% else %}
                                        <img src="{{ asset ('uploads') }}/images/{{ product.image }}" height="45">
                                    {% endif %}
                                    </a>
                                </td>
                                <td>
                                    <a href="javascript:openWin('{{ path('admin_image_new', {'pid': product.id}) }}','','toolbar=no,location=no,directories=0,status=no,top=100,left=200,menuBar=no,scrollBars=no,resizable=no,width=1000,height=800');">
                                        <img src=" {{ asset('admin') }}/images/galeri.png" height="48">
                                    </a>
                                </td>
                                <td>{{ product.categoryId }}</td>
                                <td>{{ product.status }}</td>
                                <td>
                                    <a href="{{ path('admin_product_show', {'id': product.id}) }}" class="btn btn-1 btn-success">Göster</a>
                                </td><td>
                                    <a href="{{ path('admin_product_edit', {'id': product.id}) }}" class="btn btn-1 btn-warning">Düzenle</a>
                                </td><td>{{ include('admin/product/_delete_form.html.twig') }} </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="25">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--inner block end here-->
{% endblock %}