{% extends 'frontbase.html.twig' %}
{% block title %}Sipariş Sayfası{% endblock %}
{% block sidebar %} {% include 'home/_usersidebar.html.twig' %} {% endblock %}
{% block content %}
    <div class="col-sm-9 padding-right">
        <div class="features_items"><!--features_items-->
            <h3 align="center" class="btn-block btn-success">Sipariş Listesi</h3>
            {{ include('admin/messages.html.twig') }}

            <table class="table">
                <thead>
                <tr>
                    <th>Tutar</th>
                    <th>İsim</th>
                    <th>Adres</th>
                    <th>Şehir</th>
                    <th>Telefon</th>
                    <th>Bilgi</th>
                    <th>Durum</th>
                    <th>Hareket</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.amount }} TL</td>
                        <td>{{ order.name }}</td>
                        <td>{{ order.address }}</td>
                        <td>{{ order.city }}</td>
                        <td>{{ order.phone }}</td>
                        <td>{{ order.shipinfo }}</td>
                        <td>{{ order.status }}</td>
                        <td>
                            <a href="{{ path('orders_show', {'id': order.id}) }}">Göster</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="13">Kayıt Bulunamadı</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('orders_new') }}"class="btn btn-block btn-success">Sipariş Ekle</a>
        </div>
    </div>
    </div>
    </div>
    </section>
{% endblock %}
